<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/product" routerLinkActive="active">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/cart" routerLinkActive="active">Cart</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/todo" routerLinkActive="active">ToDo</a>
    </li>
</ul>
